*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(bgimagebike.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    font-family:Georgia, 'Times New Roman', Times, serif
}
.main-container{
    margin-left: 60%;
    margin-top: 80px;
}
.main-container h1{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: -15px;

}
.main-container span{
    font-size: 20px;
    margin-left: 25%;
    margin-top: -50px;
}
.main-container .btn{
    width: 20vh;
    height: 30px;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;
    padding: 0px;
    margin-left: 25%;
}
.bike-search{
    margin-top: 20px;
}
.bike-search input{
    border-radius: 5px;
    width: 200px;
    height: 30px;
    padding: 5px;
}
.footer-container{
    margin-top: 25%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px;
    height: 100%;
    text-align: center;
}
.fa-whatsapp{
    color: white;
    background-color: green;
    font-size: 20px;
    padding: 2px;
    border-radius: 10px;
}



